<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="/logs/nlog-internal.log">
  <variable name="logDir" value="/logs"/>
  <variable name="lvl" value="${replace:searchFor=FATAL:replaceWith=CRITICAL:regex=false:inner=${level:uppercase=true}}" />
  <targets>
    <target xsi:type="BufferingWrapper"  name="normalBuffered">
      <target xsi:type="File" name="normal" fileName="${logDir}/Api/${date:format=yyyyMMdd}-normal.json" encoding="utf-8" layout="">
        <layout xsi:type="JsonLayout" suppressSpaces="true">
          <attribute name="lgr" layout="${logger}"/>
          <attribute name="tms" layout="${date:universalTime=true:format=o}" />
          <attribute name="lvl" layout="${lvl}"/>
          <attribute name="msg" layout="${message}" />
          <attribute name="exc" layout="${exception:format=ToString}" />
          <attribute name="hst" layout="${machinename}"/>
          <attribute name="prc" layout="${processname} (${processid})"/>
          <attribute name="cst" layout="${callsite}, line ${callsite-linenumber}."/>
          <attribute name="cor" layout="${activityid}"/>
          <attribute name="ip" layout="${gdc:item=ClientIp}"/>
          <attribute name="dat" encode="false" >
            <layout xsi:type="JsonLayout" includeAllProperties="true"  maxRecursionLimit="3" renderEmptyObject="false"/>
          </attribute>
        </layout>
      </target>
    </target>
    <target xsi:type="BufferingWrapper"  name="debugBuffered">
      <target xsi:type="File" name="debug" fileName="${logDir}/Api/${date:format=yyyyMMdd}-debug.json" encoding="utf-8" layout="">
        <layout xsi:type="JsonLayout" suppressSpaces="true">
          <attribute name="lgr" layout="${logger}"/>
          <attribute name="tms" layout="${date:universalTime=true:format=o}" />
          <attribute name="lvl" layout="${lvl}"/>
          <attribute name="msg" layout="${message}" />
          <attribute name="exc" layout="${exception:format=ToString}" />
          <attribute name="hst" layout="${machinename}"/>
          <attribute name="prc" layout="${processname} (${processid})"/>
          <attribute name="cst" layout="${callsite}, line ${callsite-linenumber}."/>
          <attribute name="cor" layout="${activityid}"/>
          <attribute name="ip" layout="${gdc:item=ClientIp}"/>
          <attribute name="dat" encode="false" >
            <layout xsi:type="JsonLayout" includeAllProperties="true"  maxRecursionLimit="3" renderEmptyObject="false"/>
          </attribute>
        </layout>
      </target>
    </target>
    <target xsi:type="BufferingWrapper"  name="traceBuffered">
      <target xsi:type="File" name="trace" fileName="${logDir}/Api/${date:format=yyyyMMdd}-trace.json" encoding="utf-8" layout="">
        <layout xsi:type="JsonLayout" suppressSpaces="true">
          <attribute name="lgr" layout="${logger}"/>
          <attribute name="tms" layout="${date:universalTime=true:format=o}" />
          <attribute name="lvl" layout="${lvl}"/>
          <attribute name="msg" layout="${message}" />
          <attribute name="exc" layout="${exception:format=ToString}" />
          <attribute name="hst" layout="${machinename}"/>
          <attribute name="prc" layout="${processname} (${processid})"/>
          <attribute name="cst" layout="${callsite}, line ${callsite-linenumber}."/>
          <attribute name="cor" layout="${activityid}"/>
          <attribute name="ip" layout="${gdc:item=ClientIp}"/>
          <attribute name="dat" encode="false" >
            <layout xsi:type="JsonLayout" includeAllProperties="true"  maxRecursionLimit="3" renderEmptyObject="false"/>
          </attribute>
        </layout>
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="normal" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debug" />
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="trace" />
  </rules>
</nlog>
